.div1 {
    border-width:1;
    border-color: black;
    border-style: solid;
    width: 500px;
    height: 100px;
    display: flex;
    margin:0 auto;
}
.div2{
    border-width:1;
    border-color: black;
    border-style: solid;
    height: 100px;
    width: 1000px;
    display: flex;
    margin:0 10% 0 36.5%;
}